@page "/parseorders"
@rendermode InteractiveServer
@using EmailOrderApp.Application.Interfaces
@using EmailOrderApp.Application.DTOs
@using Radzen
@using Radzen.Blazor
@inject IOrderProcessingService OrderProcessingService

<h3>Parsowanie zamówień z e-maili</h3>

<RadzenButton Text="Parsuj nowe zamówienia" Click="ParseNewOrdersAsync" Style="margin-bottom: 1rem;" />
<RadzenButton Text="Wyświetl zamówienia" Click="GetAllOrdersAsync" ButtonStyle="ButtonStyle.Secondary"
    Style="margin-bottom: 1rem; margin-left: 0.5rem;" />

@if (orders != null && orders.Any())
{
    <RadzenDataGrid @ref="grid" Data="@orders" TItem="OrderDto" ExpandMode="DataGridExpandMode.Multiple"
        AllowFiltering="true" AllowSorting="true">
        <Columns>
            <RadzenDataGridColumn TItem="OrderDto" Title="Numer zamówienia" Property="OrderNumber" />
            <RadzenDataGridColumn TItem="OrderDto" Title="Klient" Property="CustomerName" />
            <RadzenDataGridColumn TItem="OrderDto" Title="Data">
                <Template Context="order">
                    @order.OrderDate.ToString("yyyy-MM-dd")
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="OrderDto" Title="Suma">
                <Template Context="order">
                    @order.TotalAmount.ToString("C")
                </Template>
            </RadzenDataGridColumn>

        </Columns>
        <Template Context="order">
            <RadzenDataGrid Data="@order.OrderItems" TItem="OrderItemDto" ShowPagingSummary="false" AllowSorting="true"
                AllowFiltering="true">
                <Columns>
                    <RadzenDataGridColumn TItem="OrderItemDto" Title="Produkt" Property="Name" />
                    <RadzenDataGridColumn TItem="OrderItemDto" Title="Ilość" Property="Count" />
                    <RadzenDataGridColumn TItem="OrderItemDto" Title="Cena" Property="Price">
                        <Template Context="item">
                            @item.Price.ToString("C")
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </Template>
    </RadzenDataGrid>
}
else if (loading)
{
    <p>Parsowanie trwa...</p>
}
else if (parsed)
{
    <p>Brak nowych zamówień do sparsowania.</p>
}
else if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">@errorMessage</div>
}

@code {
    private List<OrderDto>? orders;
    private RadzenDataGrid<OrderDto>? grid;
    private bool loading = false;
    private bool parsed = false;
    private string errorMessage = string.Empty;
    private int orderCount;

    private async Task ParseNewOrdersAsync()
    {
        try
        {
            parsed = false;
            loading = true;
            errorMessage = "";

            orderCount = await OrderProcessingService.ParseAndSaveOrdersAsync();
            if (orderCount == 0) parsed = true;

            orders = await OrderProcessingService.GetAllAsync();
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
        finally
        {
            loading = false;
        }
    }

    private async Task GetAllOrdersAsync()
    {
        try
        {
            errorMessage = "";
            orders = await OrderProcessingService.GetAllAsync();
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}